<html lang="en">

<head>
  <script src="https://code.jquery.com/jquery.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>


<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <nav style="margin-bottom: 10%">
    <div class="nav-wrapper">
      <a href="/"><img class="brand-logo center" src="/images/wearitwell.png" style="width:120px; justify-content: center;"></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/"><i class="material-icons">home
            </i></a></li>
        <li><a href="">Andy</a></li>

      </ul>
  </nav>

  <script>
    $(document).ready(function(){
           $('.sidenav').sidenav();

    		})
    </script>

  <script>
    AOS.init();
</script>


  <script>
    $(document).ready(function(){
 $('.sidenav').sidenav();
  })
</script>

  <div class="container">

    <div class="row">
      <div class="col s12">
        <h2>Andy</h2>
      </div>
      <div class="col s12">
        <h4>andy@utoronto.ca</h4>
      </div>

      <div class="row">
        <div class="col s1">
          <p>I'm Andy!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s1">
        <form method="post" enctype="multipart/form-data" action="/apiRoutes/upload">
          <label for="portfolioImage" class="formText">Portfolios (Upload an image of your work)</label>
          <br>
          <!-- <input type="file" name="image" accept="image/*"> -->
          <!-- <input type="upload"> -->
          <p>
            <input type="text" name="title" placeholder="Description (Optional)" />
          </p>

          <p>
            <input type="file" name="upl" />
          </p>
          <!-- <p>
        <input type="submit" value="Upload Image"/>
    </p> -->

          <br><br><br>

          <input type="submit" id="submit-button" value="Submit">
        </form>
      </div>
    </div>

    <div class="col s6">
      <div data-aos="zoom-in" class="card large">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="/images/demo.jpg">
          <span class="card-title activator grey-text text-darken-4"></span>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-action grey-text center">
          <!-- Need to make this dynamic, find a way to change the content (from favorite_border to favorite), need to read from database for the counter-->
          
          <p class="center">Andy</p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
        </div>
      </div>
    </div>


  </div>



</body>

</html>