<div class="loginContainer">
    <h3>Log In</h3>
    <form>
        <label for="emailAddress" class="formText">Email Address</label>
            <br>
            <input type="text" id="emailAddress" name="emailAddress" placeholder="Email Address">
            <br><br>
            <label for="password" class="formText">Password</label>
            <br>
            <input type="text" id="password" name="password" placeholder="Password">
            <br><br><br>
            <input type="submit" id="submit-button" value="Submit">
    </form>
</div> 