{{#if errors}}
{{#each errors}}
<div class="alert alert-danger">
    {{msg}}
</div>
{{/each}}
{{/if}}

<div class="registerContainer">
    <h3>Register Here!</h3>

    <form>
        <label for="firstName" class="formText">First Name</label>
        <br>
        <input type="text" id="firstName" name="firstName">

        <br><br>

        <label for="lastName" class="formText">Last Name</label>
        <br>
        <input type="text" id="lastName" name="lastName">

        <br><br>

        <label for="username" class="formText">User Name</label>
        <br>
        <input type="text" id="username" name="username">

        <br><br>

        <label for="emailAddress" class="formText">Email Address</label>
        <br>
        <input type="text" id="emailAddress" name="emailAddress">

        <br><br>

        <label for="phoneNumber" class="formText">Phone Number</label>
        <br>
        <input type="text" id="phoneNumber" name="phoneNumber">

        <br><br>

        <label for="password" class="formText">Password</label>
        <br>
        <input type="text" id="password" name="password">
        <br>
        <label for="password2" class="formText">Confirm Password</label>
        <br>
        <input type="text" id="password2" name="password2">

        <br><br><br>


        <label for="brandName" class="formText">Brand Name</label>
        <br>
        <input type="text" id="brandName" name="brandName">

        <br><br>

        <label for="designerBio" class="formText">Designer Biography</label>
        <br><br>
        <textarea id="designerBio" name="designerBio" style="height:200px"></textarea>

        <br><br><br>

        <input type="submit" id="submit-button" value="Submit">

    </form>

</div>

<div class="row footer">
   
</div>